.add_grading_group div {
	float: left;
	padding-right: 10px;
}

#add_grading_group_advanced_btn {
	float: left;
	clear: both;
	margin-top: 10px;
}

.add_grading_group_advanced {
	clear: both;
	padding-top: 10px;
}

.rubric_evaluation_select {
	width: 100px;
}

#rubric_evaluation_post .dashicons, #rubric_evaluation_page .dashicons {
	padding-top: 3px;
	padding-right: 4px;
	cursor: default;
}
#rubric_evaluation_post .past_due, #rubric_evaluation_page .past_due {
	cursor: default;
}