/* dashboard widget section */
ul.rubric-evaluation-list .rubric-evaluation-term {
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 20%;
}
ul.rubric-evaluation-list .rubric-evaluation-med-term {
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	width: 40%;
}
ul.rubric-evaluation-list .rubric-evaluation-term-due {
	min-width: 75px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	padding-left: 8px;
}
ul.rubric-evaluation-list .rubric-evaluation-anchor {
	min-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}
ul.rubric-evaluation-list {
	white-space: nowrap;
}
.rubric-evaluation-head  {
	font-weight: bold;
	text-decoration: underline;
}
.rubric-eval-date-valid {
	color: green;
}
.rubric-eval-date-invalid {
	color: red;
}